body {
    padding: 10px;
}
#search-form, .form-control {
    margin-bottom: 10px;
}
.cover {
    width: 250px;
    height: 250px;
    display: inline-block;
    background-size: cover;
}

.container, .btn-primary{
	font-size: 10px
}
.cover:hover {
    cursor: pointer;
}
.cover.playing {
    border: 3px solid #3C84CC;
}